.cuisine-group {
    padding-top: 100px;
}

.cuisine {
    background-image:
        linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(/resources/images/Photo16.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.cuisine-section {
    padding: 0 140vh 0 0;
    display: flex;
}

.cuisine-card {
    background: linear-gradient(to right, rgba(60,60,60,0.7), rgba(0,0,0,0.8));
    padding: 60px 45px;
    border-radius: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(14px);
    text-align: left;
}

.cuisine-card-inner {
    transform: none;
}

.cuisine-icon {
    width: 90px;
    opacity: 0.9;
    margin-bottom: 12px;
}

.cuisine-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 18px;
    color: #fff;
}

.cuisine-desc {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 35px;
    color: #f8f8f8;
    opacity: 0.95;
}

.cuisine-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.cuisine-mini-icon {
    width: 28px;
    opacity: 0.95;
    padding-top: 18px;
}

.cuisine-item h4 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color1);
}

.cuisine-item p {
    font-size: 14px;
    opacity: 0.9;
    margin-top: 2px;
    color: var(--color1);
}

.cuisine-text{
    background-color: var(--color2);
    color: var(--color1);
}

@media (max-width: 1500px) {
    .cuisine-section {
        grid-template-columns: 1fr;
    }

    .cuisine-card {
        padding: 40px;
        width: 50vh;
        height: 100vh;
    }
}

@media (max-width: 600px) {
    .cuisine-card {
        padding: 30px;
        width: 30vh;
        height: 100vh;
    }

    .cuisine-title {
        font-size: 30px;
    }

    .cuisine-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

.scroll-head-cuisine h2 {
    color: var(--color1);
}

.side-scroll {
    width: 100%;
    overflow-x: auto;
    padding: 20px 0 40px;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
    background-color: #000;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.side-scroll::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    display: flex;
    gap: 20px;
    width: max-content;
    padding: 0 20px;
}

.scroll-item {
    flex: 0 0 calc((100vw - 60px) / 3);
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.scroll-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease 0.3s;
}

.resto-images:hover {
    width: 120%;
    height: 120%;
    object-fit: cover;
}

.scroll-head-cuisine {
    background-color: var(--color2);
}

.scroll-text p {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color1);
    font-weight: bold;
    font-size: clamp(14px, 2.2vw, 22px);
    text-shadow: var(--text-shadow2);
    text-align: center;
    width: 90%;
    pointer-events: none;
    font-family: "RockSalt";
}

.scroll-text button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 14px;
    border-radius: 100px;
    border: none;
    background: rgba(0, 0, 0, 0.9);
    color: var(--color1);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: var(--text-shadow2);
    transition: ease 0.3s;
}

.scroll-text button img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.scroll-text button:hover {
    opacity: 0.9;
    width: 130px;
    height: 40px;
    bottom: 15px;
}

@media (max-width: 900px) {
    .scroll-item {
        flex: 0 0 calc((100vw - 50px) / 2);
    }
}

@media (max-width: 600px) {
    .scroll-item {
        flex: 0 0 calc(100vw - 60px);
    }
    .scroll-container {
        gap: 14px;
        padding: 0 14px;
    }
    .fade-left,
    .fade-right {
        width: 50px;
    }
}
