.banner-clock {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
}

.clock-icon-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.clock-icon {
    width: 50px;
    height: 50px;
}

.clock-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color1);
    font-family: "Montserrat", sans-serif;
    text-shadow: var(--text-shadow);
}

.clock-text .time {
    font-size: 24px;
    font-weight: bold;
}

.clock-text .date {
    font-size: 16px;
}