@font-face{
    font-family: 'RockSalt';
    src: url(/resources/fonts/Rock_Salt/RockSalt-Regular.ttf);
}

@font-face{
    font-family: 'Montserrat';
    src: url(/resources/fonts/Montserrat/static/Montserrat-Light.ttf);
}