.return-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color1);
    z-index: 5;
}

.return-btn img {
    width: 26px;
    height: 26px;
    margin-right: 8px;
}

.return-btn h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    text-shadow: var(--text-shadow);
}